.App{
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.App svg{
  width: 100%;
  z-index: 2;  
;
}
.iconholder{
  height: calc(100vh - 320px);
  width: 100% ;
  /* background-color: aqua; */
  position: relative;
  z-index: 2;
}
#cubeicons{
  rotate: 20deg;
  position: absolute;
  right: -10px;
  top: -50px;
}

#jsicon{
  rotate: -30deg;
  position: absolute;
  right: -120px;
  top: 40%;
}

#termicon{
  rotate: -30deg;
  position: absolute;
  left: 0px;
  bottom: -200px;
}

#webhookicon{
  rotate: 10deg;
  position: absolute;
  left: -30px;
  top: 35%;
}

#bracketicon{
  rotate: -30deg;
  position: absolute;
  top: -20px;
}

#htmlicon{
  rotate: 20deg;
  position: absolute;
  top: -50px;
  left : 30%;
}

#mobdevicon{
  rotate: 20deg;
  position: absolute;
  top: -50px;
  left : 60%;
}

.herocontainer{
  background-color: white;
  z-index: 3;
  height: 90vh;
  width: 80vw;
  top: 10vh;
  left: 10vw;
  position: absolute;
}