.App{
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.App svg{
  width: 100%;
  position: relative;
}
.iconholder{
  height: calc(100vh - 320px);
  width: 100% ;
  /* background-color: aqua; */
  position: relative;
}
#cubeicons{
  rotate: 20deg;
  position: absolute;
  left: 90vw;
  top: 30px;
}

#jsicon{
  rotate: -30deg;
  position: absolute;
  left: 85vw;
  top: 40%;
}

#termicon{
  rotate: -30deg;
  position: absolute;
  left: 0px;
  bottom: -200px;
}

#webhookicon{
  rotate: 10deg;
  position: absolute;
  left: -30px;
  top: 35%;
}

#bracketicon{
  rotate: -30deg;
  position: absolute;
  top: -20px;
}